<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>

  <img
    src="{{ site.baseurl }}/assets/images/PS logo new_blue.png"
    style="width: 80px; height: 80px; position: absolute; top: 0; left: 0;"
  />
  <a href="#About">About</a>
  <a href="#Skills">Skills</a>
  <a href="#Work">Work</a>
  <a href="#Contact">Contact</a>
</div>
<i id="menu" onclick="openNav()" class="fas fa-bars"></i>

<i class="fas fa-cloud-moon" id="moon"></i>
<i class="fas fa-sun" id="sun"></i>
<label class="switch">
  <input onclick="myFunction()" type="checkbox" />
  <span class="slider round"></span>
</label>
<style>
  .switch {
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 30px;
    margin-right: 60px;
    display: inline-block;
    width: 60px;
    height: 34px;
  }

  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: grey;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }

  input:checked + .slider {
    background-color: #3eff6f;
  }

  input:focus + .slider {
    box-shadow: 0 0 1px #3eff6f;
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 50%;
  }

  .dark-mode {
    background-color: black !important;
    color: rgb(238, 238, 238) !important;
  }
  #moon {
    font-size: 20px;
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 35px;
    margin-right: 25px;
    transition: 0.4s;
  }
  #sun {
    font-size: 20px;
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 35px;
    margin-right: 130px;
    transition: 0.4s;
  }

  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    background-color: black;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }

  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    font-size: 30px;
    color: ghostwhite;
    display: block;
    margin-top: 60px;
    transition: 0.2s;
    font-family: "Merriweather", serif;
    border-right: 3px solid white;
  }

  .sidenav a:hover {
    transform: scale(1.2);
  }
  .sidenav .closebtn:hover {
    border: none;
    background-color: transparent;
    color: white;
  }

  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    margin-top: -5px;
    border: none;
  }
  #menu {
    font-size: 40px;
    cursor: pointer;
    position: absolute;
    left: 0;
    top: 0;
    margin-left: 50px;
    margin-top: 25px;
    transition: 0.3s;
  }

  @media screen and (min-width: 360px) and (max-width: 768px) {
    #menu {
      font-size: 35px;
      position: absolute;
      left: 0;
      margin-left: 30px;
    }
    .switch {
      position: absolute;
      width: 50px;
      height: 27px;
      margin-right: 50px;
    }
    .slider::before {
      height: 20px;
      width: 20px;
      bottom: 4px;
    }
    #sun {
      font-size: 17px;
      position: absolute;
      margin-right: 110px;
    }
    #moon {
      font-size: 17px;
      position: absolute;
      margin-right: 20px;
    }
    .sidenav {
      padding-top: 50px;
    }
    .sidenav a {
      font-size: 25px;
      font-weight: 900;
      border-left: 1px solid white;
      border-right: none;
    }
  }
</style>
<script>
  function myFunction() {
    var element = document.body;
    element.classList.toggle("dark-mode");
  }
  function move() {
    var right = document.getElementById("dot");
    right.classList.toggle("dotmove");
  }
  function openNav() {
    document.getElementById("mySidenav").style.width = "300px";
    document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
  }

  function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
    document.body.style.backgroundColor = "white";
  }
</script>
<script src="https://kit.fontawesome.com/a076d05399.js"></script>
